body {
	background-color: black;
	font-family: 'Ubuntu', sans-serif;
}

div#tamagoName, {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px auto;
}

.input {
	margin: auto;
	width: 500px;
	height: 50px;

}
input {
	font-size: 15px;
	padding-left: 10px;
	height: 30px;
	width: 230px;
	border: 1px solid white;
	border-radius: 5px;
}

#nameButton {
	width: 80px;
	height: 30px;
	border-radius: 5px;
}

.background {
	height: 600px;
	width: 800px;
	background-image: url("https://i.imgur.com/N2Qy7H4.png");
	border: 5px solid #8E004F;
	border-radius: 30px;
	margin: 10px auto;
}

div#sprite{
    margin: 270px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	height: 128px;
	width: 128px;
	opacity: 0;
}

#sprite span {
	width: 128px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
}

#act {
	background-color: #3ba93b;
	border: 5px double #8E004F;
	border-radius: 30px;
	/*height: 80px;*/
	width: 600px;
	margin: 10px auto;
	padding: 5px;
}

#tamagoStats, #actButtons {
	display: flex;
	justify-content: space-around;
}

.stats {
	flex-grow: 1;
	background-color: white;
	border: 3px double black;
	/*text-align: center;*/
	margin: 4px;
	padding: 5px 10px;	
}

.interact {
	/*flex-grow: 1;*/
	width: 100px;
	border: 2px double black;
	border-radius: 10px;
	margin: 4px;
	padding: 5px;
}

.stats span {
	float: right;
}














